<div class="container-fluid bg p-0 pt-5">
  <div class="pt-5"></div>
  <div class="container p-0">
    <div class="row">
      <h2 class="mx-auto my-4"><em>Facility management</em></h2>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mb-4 d-flex justify-content-center">
      <div id="carouselExampleControls" class="carousel slide w-100 col-10" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 30em;">
            <img style="overflow: hidden" class="d-block w-100 rounded" src="https://cdn.pixabay.com/photo/2017/07/03/22/52/blue-2469300_960_720.jpg" alt="First slide">
          </div>
          <div class="carousel-item" style="height: 30em;">
            <img style="overflow: hidden" class="d-block w-100 rounded" src="https://cdn.pixabay.com/photo/2015/01/13/13/21/paradise-598201_960_720.jpg" alt="Second slide">
          </div>
          <div class="carousel-item" style="height: 30em;">
            <img style="overflow: hidden" class="d-block w-100 rounded" src="https://cdn.pixabay.com/photo/2016/02/29/06/43/cancun-1228131_960_720.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <div class="row d-flex justify-content-between">
      <div>
        <button id="modal" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                data-target="#create">add new facility
        </button>

        <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div style="background: rgba(0,0,0,0)" class="modal-content">
              <div class="modal-header d-flex justify-content-center bg-purple">
                <h6 class="modal-title text-light" id="exampleModalLabel">Facility form</h6>
              </div>
              <div class="modal-body bg-white rounded-bottom">
                <form action="/facility" method="post" id="create-customer">
                  <input type="hidden" id="id" placeholder="id">
                  <div class="row d-flex justify-content-around mb-3">
                    <div class="col-6 ">
                      <select class="form-control form-control-sm" id="facilityType">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                    <div class="col-6 pl-0">
                      <input id="name" type="text" placeholder="enter name" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around my-3">
                    <div class="col-6">
                      <input id="area" type="text" placeholder="enter area" class="form-control form-control-sm">
                    </div>
                    <div class="col-6 pl-0">
                      <input id="cost" type="text" placeholder="enter cost" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around my-3">
                    <div class="col-6">
                      <input id="maxPeople" type="text" placeholder="enter max people"
                             class="form-control form-control-sm">
                    </div>
                    <div class="col-6 pl-0">
                      <select class="form-control form-control-sm" id="rentType">
                        <option></option>
                      </select>
                    </div>
                  </div>

                  <div class="row d-flex justify-content-around mt-3" id="standardRoom_ok">
                    <div class="col-12">
                      <input type="text" placeholder="enter standard room" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="row d-flex justify-content-around mt-3" id="description_ok">
                    <div class="col-12">
                      <input type="text" placeholder="enter description" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="row d-flex justify-content-around mt-3" id="poolArea_ok">
                    <div class="col-12">
                      <input type="text" placeholder="enter pool area" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="row d-flex justify-content-around mt-3" id="floorsNumber_ok">
                    <div class="col-12">
                      <input type="text" placeholder="enter floors number" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="row d-flex justify-content-around mt-3" id="facilityFree_ok">
                    <div class="col-12">
                      <input type="text" placeholder="enter facility free" class="form-control form-control-sm">
                    </div>
                  </div>

                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <input style="width: 100%" type="submit" onclick="createFacility()" value="submit"
                             class="btn btn-sm bg-purple text-light">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <form id="search-customer" class="input-group input-group-sm mb-3">
          <input id="search-name" style="background: rgba(0,0,0,0)" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Small">
          <input type="button" onclick="searchCustomer()" value="search" class="btn btn-outline-success btn-sm">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-4 d-flex justify-content-center p-0 my-3" *ngFor="let facility of facilitys">
      <div class="card container-img shadow-card" style="width: 18rem;">
        <img class="card-img-top image"
             src="https://cdn.pixabay.com/photo/2017/08/07/09/25/swimming-2601877_960_720.jpg"
             alt="Card image cap">
        <div class="middle">
          <a data-toggle="modal" data-target="#create">
            <div class="text">update</div>
          </a>
        </div>
        <div class="card-body">
          <div class="row d-flex justify-content-between">
            <div>
              <h6 class="m-0">{{facility.name}}</h6>
              <small>Area: {{facility.area}}</small>
            </div>
            <div>
              <a><i style="font-size: 1.2em" class="fa-solid fa-circle-info"></i></a>
              <a><i data-toggle="modal" data-target="#delete" style="font-size: 1.2em"
                    class="fa-solid fa-eraser ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background: rgba(0,0,0,0)" class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-purple">
        <h6 class="modal-title text-light">Confirm</h6>
      </div>
      <div class="modal-body bg-white rounded-bottom">
        <div class="row d-flex justify-content-around">
          <input type="hidden" id="delete-id">
          <div class="mb-2">
            delete facility ?
          </div>
        </div>
        <div class="row d-flex justify-content-around mt-2">
          <div class="col-3 pr-0">
            <input style="width: 100%" type="button" data-dismiss="modal" value="close"
                   class="btn btn-sm bg-secondary text-light">
          </div>
          <div class="col-9">
            <input style="width: 100%" type="button" value="delete"
                   class="btn btn-sm bg-purple text-light deleteCustomer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#create").on("change", "#facilityType", function () {
    console.log(this.value);
    switch (this.value) {
      case"1":
        document.getElementById("standardRoom_ok").style.setProperty('display', 'block', 'important');
        document.getElementById("description_ok").style.setProperty('display', 'block', 'important');
        document.getElementById("floorsNumber_ok").style.setProperty('display', 'block', 'important');
        document.getElementById("poolArea_ok").style.setProperty('display', 'block', 'important');
        document.getElementById("facilityFree_ok").style.setProperty('display', 'none', 'important');
        break;
      case"2":
        document.getElementById("standardRoom_ok").style.setProperty('display', 'block', 'important');
        document.getElementById("description_ok").style.setProperty('display', 'block', 'important');
        document.getElementById("floorsNumber_ok").style.setProperty('display', 'block', 'important');
        document.getElementById("poolArea_ok").style.setProperty('display', 'none', 'important');
        document.getElementById("facilityFree_ok").style.setProperty('display', 'none', 'important');
        break;
      case"3":
        document.getElementById("standardRoom_ok").style.setProperty('display', 'none', 'important');
        document.getElementById("description_ok").style.setProperty('display', 'none', 'important');
        document.getElementById("floorsNumber_ok").style.setProperty('display', 'none', 'important');
        document.getElementById("poolArea_ok").style.setProperty('display', 'none', 'important');
        document.getElementById("facilityFree_ok").style.setProperty('display', 'block', 'important');
        break;
    }
  })
</script>
