<div class="container d-flex justify-content-center mt-5">
  <form [formGroup]="sigUpForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter email address" formControlName="email">
      <div *ngIf="sigUpForm.controls.email.hasError('email') && sigUpForm.controls.email.dirty" class="form-text text-danger">wrong format email</div>
      <div *ngIf="sigUpForm.controls.email.hasError('required') && sigUpForm.controls.email.dirty" class="form-text text-danger">required filed</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter password" formControlName="password">
      <div *ngIf="sigUpForm.controls.password.hasError('minlength') && sigUpForm.controls.password.dirty" class="form-text text-danger">wrong format passdword</div>
      <div *ngIf="sigUpForm.controls.password.hasError('required') && sigUpForm.controls.password.dirty" class="form-text text-danger">required filed</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">confirm password</label>
      <input type="password" class="form-control" id="exampleInputPass" placeholder="enter password" formControlName="passwordConfirm">
      <div *ngIf="passwordMatchError && sigUpForm.controls.passwordConfirm.dirty" class="form-text text-danger">not match</div>
<!--      <div *ngIf="sigUpForm.controls.passwordConfirm.hasError('required') && sigUpForm.controls.passwordConfirm.dirty" class="form-text text-danger">required filed</div>-->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">country</label><br>
      <select formControlName="country" class="w-100">
        <option value="">--select country--</option>
        <option value="vietNam">vietNam</option>
        <option value="korean">korean</option>
        <option value="japan">japan</option>
        <option value="china">china</option>
      </select>
      <div *ngIf="sigUpForm.controls.country.hasError('required') && sigUpForm.controls.country.pristine" class="form-text text-danger">required filed</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">age</label>
      <input type="number" class="form-control" id="exampleInputPasswor" value="18" formControlName="age">
      <div *ngIf="sigUpForm.controls.age.hasError('min') && sigUpForm.controls.age.dirty" class="form-text text-danger">age <= 18</div>
    </div>
    <div class="mb-3">
        <input type="radio" value="male" name="gender" formControlName="gender" [checked]="true">Male
        <input type="radio" value="female" name="gender" formControlName="gender">Female
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">phone number</label>
      <input type="text" class="form-control" id="exampleInputPasswo" placeholder="enter phone number" formControlName="phone">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="getInfo()">Submit</button>
  </form>
</div>
