<div class="container-fluid bg pt-5">
  <div class="pt-5"></div>
  <div class="container">
    <div class="row">
      <h2 class="mx-auto my-4"><em>home bus management</em></h2>
    </div>
    <div class="row d-flex justify-content-between">
      <div>
        <button id="modal" type="button" class="btn btn-outline-primary btn-sm"
                data-toggle="modal" data-target="#create">add new ticket
        </button>

        <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div style="background: rgba(0,0,0,0)" class="modal-content">
              <div class="modal-header d-flex justify-content-center bg-purple">
                <h6 class="modal-title text-light" id="exampleModalLabel">ticket form</h6>
              </div>
              <div class="modal-body bg-white rounded-bottom">
                <form [formGroup]="homeForm">
                  <input type="hidden" formControlName="id" id="id">
                  <div class="row d-flex justify-content-around mb-3">
                    <div class="col-6 pr-0">
                      <input formControlName="startPlace" id="startPlace" type="text" placeholder="enter start place" class="form-control form-control-sm">
                      <div *ngIf="homeForm.controls.startPlace.hasError('required') && homeForm.controls.startPlace.dirty" class="form-text text-danger">required</div>
                    </div>
                    <div class="col-6">
                      <input formControlName="endPlace" id="endPlace" type="text" placeholder="enter end place" class="form-control form-control-sm">
                      <div *ngIf="homeForm.controls.endPlace.hasError('required') && homeForm.controls.endPlace.dirty" class="form-text text-danger">required</div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <div class="form-group">
                        <select class="form-control form-control-sm" id="home" formControlName="home">
                          <option [selected]="true" [ngValue]="temp" *ngFor="let temp of homes">{{temp.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <div class="form-group">
                        <input formControlName="startDate" id="dateStart" type="date" class="form-control form-control-sm">
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <div class="form-group">
                        <input formControlName="startTime" id="timeStart" type="text" placeholder="enter timeStart" class="form-control form-control-sm">
                        <div *ngIf="homeForm.controls.startTime.hasError('pattern') && homeForm.controls.startTime.dirty" class="form-text text-danger">wrong format</div>
                        <div *ngIf="homeForm.controls.startTime.hasError('required') && homeForm.controls.startTime.dirty" class="form-text text-danger">required</div>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <div class="form-group">
                        <input formControlName="quantity" id="quantity" type="text" placeholder="enter quantity" class="form-control form-control-sm">
                        <div *ngIf="homeForm.controls.quantity.hasError('required') && homeForm.controls.quantity.dirty" class="form-text text-danger">required</div>
                        <div *ngIf="homeForm.controls.quantity.hasError('min') && homeForm.controls.quantity.dirty" class="form-text text-danger">quantity > 0</div>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <div class="form-group">
                        <input formControlName="price" id="price" type="text" placeholder="enter price" class="form-control form-control-sm">
                        <div *ngIf="homeForm.controls.price.hasError('required') && homeForm.controls.price.dirty" class="form-text text-danger">required</div>
                        <div *ngIf="homeForm.controls.price.hasError('pattern') && homeForm.controls.price.dirty" class="form-text text-danger">wrong format</div>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-12">
                      <input [disabled]="homeForm.invalid" data-dismiss="modal" type="button" value="submit" (click)="createTicket()" class="w-100 btn btn-sm bg-purple text-light">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-group input-group-sm mb-3">
          <input id="search-name" [(ngModel)]="place" style="background: rgba(0,0,0,0)" class="form-control mr-sm-2" type="search" placeholder="Search by start place" aria-label="Small">
          <input type="button" (click)="search()" value="search" class="btn btn-outline-success btn-sm">
        </div>
      </div>
    </div>
    <div class="row my-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">startPlace</th>
          <th scope="col">endPlace</th>
          <th scope="col">price</th>
          <th scope="col">dateStart</th>
          <th scope="col">timeStart</th>
          <th scope="col">quantity</th>
          <th scope="col">home</th>
          <th scope="col">book</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tickets">
          <td>{{item.startPlace}}</td>
          <td>{{item.endPlace}}</td>
          <td>{{item.price}}</td>
          <td>{{item.startDate}}</td>
          <td>{{item.startTime}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.home.name}}</td>
          <td>
            <button type="button" (click)="idItem(item.id)" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete">book</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background: rgba(0,0,0,0)" class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-purple">
        <h6 class="modal-title text-light">booking</h6>
      </div>
      <div class="modal-body bg-white rounded-bottom">
        <div class="row d-flex justify-content-around">
          <input type="hidden" id="delete-id">
          <div class="mb-2">
            book ticket: {{startPlace}} - {{endPlace}}
          </div>
        </div>
        <div class="row d-flex justify-content-around mt-2">
          <div class="col-3 pr-0">
            <input style="width: 100%" type="button" data-dismiss="modal" value="close" class="btn btn-sm bg-secondary text-light">
          </div>
          <div class="col-9">
            <input type="button" data-dismiss="modal" (click)="booking()" value="booking" class="btn btn-sm bg-purple w-100 text-light">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
