<div class="container-fluid bg pt-5">
  <div class="pt-5"></div>
  <div class="container">
    <div class="row">
      <h2 class="mx-auto my-4"><em>Customer management</em></h2>
    </div>
    <div class="row d-flex justify-content-between">
      <div>
        <button id="modal" type="button" class="btn btn-outline-primary btn-sm" onclick="clearInput()"
                data-toggle="modal" data-target="#create">add new customer
        </button>

        <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div style="background: rgba(0,0,0,0)" class="modal-content">
              <div class="modal-header d-flex justify-content-center bg-purple">
                <h6 class="modal-title text-light" id="exampleModalLabel">Customer form</h6>
              </div>
              <div class="modal-body bg-white rounded-bottom">
                <form [formGroup]="customerInfo">
                  <input type="hidden" formControlName="id" id="id">
                  <div class="row d-flex justify-content-around mb-3">
                    <div class="col-6 pr-0">
                      <input formControlName="code" id="code" type="text" placeholder="enter id customer" class="form-control form-control-sm">
                      <div *ngIf="customerInfo.controls.code.hasError('required') && customerInfo.controls.code.dirty" class="form-text text-danger">required</div>
                      <div *ngIf="customerInfo.controls.code.hasError('pattern') && customerInfo.controls.code.dirty" class="form-text text-danger">error format</div>
                    </div>
                    <div class="col-6">
                      <input id="name" formControlName="name" type="text" placeholder="enter name" class="form-control form-control-sm">
                      <div *ngIf="customerInfo.controls.name.hasError('required') && customerInfo.controls.name.dirty" class="form-text text-danger">required</div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around my-3">
                    <div class="col-12">
                      <input id="birthday" formControlName="birthday" type="date" placeholder="enter birthday" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around my-3">
                    <div class="col-12">
                      <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="enter phone number" class="form-control form-control-sm">
                      <div *ngIf="customerInfo.controls.phoneNumber.hasError('pattern') && customerInfo.controls.phoneNumber.dirty" class="form-text text-danger">error format</div>
                      <div *ngIf="customerInfo.controls.phoneNumber.hasError('required') && customerInfo.controls.phoneNumber.dirty" class="form-text text-danger">required</div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-12">
                      <div class="form-group">
                        <select class="form-control form-control-sm" id="gender" formControlName="gender">
                          <option [selected]="true">male</option>
                          <option >female</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-12">
                      <input id="address" formControlName="address" type="text" placeholder="enter address" class="form-control form-control-sm">
                      <div *ngIf="customerInfo.controls.address.hasError('required') && customerInfo.controls.address.dirty" class="form-text text-danger">required</div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <div class="form-group">
                        <select class="form-control form-control-sm" id="type" formControlName="type">
                          <option [ngValue]="temp" *ngFor="let temp of type" [selected]="true">{{temp.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-12">
                      <input style="width: 100%" [disabled]="customerInfo.invalid" data-dismiss="modal" type="button" value="submit" (click)="createCustomer()" class="btn btn-sm bg-purple text-light">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-group input-group-sm mb-3">
          <input id="search-name" [(ngModel)]="nameSearch" style="background: rgba(0,0,0,0)" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Small">
          <input type="button" (click)="searchCustomer()" value="search" class="btn btn-outline-success btn-sm">
        </div>
      </div>
    </div>
    <div class="row my-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Birthday</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address</th>
          <th scope="col">Type</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="customer-list">
        <tr *ngFor="let customer of customers">
          <td>{{customer.code}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.birthday}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.type.name}}</td>
          <td><button type="button" class="btn btn-outline-info btn-sm" (click)="formEdit(customer.id)" data-toggle="modal" data-target="#create">update</button></td>
          <td>
            <button type="button" (click)="idCustomer(customer.id)" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete">delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background: rgba(0,0,0,0)" class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-purple">
        <h6 class="modal-title text-light">Confirm</h6>
      </div>
      <div class="modal-body bg-white rounded-bottom">
        <div class="row d-flex justify-content-around">
          <input type="hidden" id="delete-id">
          <div class="mb-2">
            delete customer: <span id="delete-name"></span>
          </div>
        </div>
        <div class="row d-flex justify-content-around mt-2">
          <div class="col-3 pr-0">
            <input style="width: 100%" type="button" data-dismiss="modal" value="close" class="btn btn-sm bg-secondary text-light">
          </div>
          <div class="col-9">
            <input type="button" data-dismiss="modal" (click)="deleteCustomer()" value="delete" class="btn btn-sm bg-purple w-100 text-light">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
