<div class="container-fluid bg pt-5">
  <div class="pt-5"></div>
  <div class="container">
    <div class="row">
      <h2 class="mx-auto my-4"><em>Contract management</em></h2>
    </div>
    <div class="row d-flex justify-content-between">
      <div>
        <button id="modal" type="button" class="btn btn-outline-primary btn-sm" onclick="clearInput()" data-toggle="modal" data-target="#create">add new contract</button>

        <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content clear">
              <div class="modal-header d-flex justify-content-center bg-purple">
                <h6 class="modal-title text-light" id="exampleModalLabel">Contract form</h6>
              </div>
              <div class="modal-body bg-white rounded-bottom">
                <form id="create-customer">
                  <input type="hidden" id="id" placeholder="id">
                  <div class="row d-flex justify-content-around mb-3">
                    <div class="col-6 pr-0">
                      <input id="idCustomer" type="text" placeholder="enter id customer" class="form-control form-control-sm">
                    </div>
                    <div class="col-6">
                      <input id="name" type="text" placeholder="enter name" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around my-3">
                    <div class="col-12">
                      <input id="birthday" type="date" placeholder="enter birthday" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around my-3">
                    <div class="col-6">
                      <input id="idCard" type="text" placeholder="enter id card" class="form-control form-control-sm">
                    </div>
                    <div class="col-6 pl-0">
                      <input id="phoneNumber" type="text" placeholder="enter phone number" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-12">
                      <div class="form-group">
                        <select class="form-control form-control-sm" id="gender">
                          <option>male</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-6 pr-0">
                      <input id="email" type="text" placeholder="enter email" class="form-control form-control-sm">
                    </div>
                    <div class="col-6">
                      <input id="address" type="text" placeholder="enter address" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mt-3">
                    <div class="col-12">
                      <div class="form-group">
                        <select class="form-control form-control-sm" id="idType">
                          <option></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-12">
                      <input style="width: 100%" type="submit" onclick="createCustomer()" value="submit" class="btn btn-sm bg-purple text-light">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <form id="search-customer" class="input-group input-group-sm mb-3">
          <input id="search-name" style="background: rgba(0,0,0,0)" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Small">
          <input type="button" onclick="searchCustomer()" value="search" class="btn btn-outline-success btn-sm">
        </form>
      </div>
    </div>
    <div class="row my-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Quantity</th>
          <th scope="col">Date start</th>
          <th scope="col">Date end</th>
          <th scope="col">deposit</th>
          <th scope="col">total money</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="customer-list">
        <tr>
          <td>1</td>
          <td>2</td>
          <td>20-11-21</td>
          <td>21-11-22</td>
          <td>35</td>
          <td>58</td>
          <td><button type="button" class="btn btn-outline-info btn-sm editCustomer" data-toggle="modal" data-target="#create">update</button></td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete">delete</button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>20-11-21</td>
          <td>21-11-22</td>
          <td>35</td>
          <td>58</td>
          <td><button type="button" class="btn btn-outline-info btn-sm editCustomer" data-toggle="modal" data-target="#create">update</button></td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete">delete</button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>20-11-21</td>
          <td>21-11-22</td>
          <td>35</td>
          <td>58</td>
          <td><button type="button" class="btn btn-outline-info btn-sm editCustomer" data-toggle="modal" data-target="#create">update</button></td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete">delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background: rgba(0,0,0,0)" class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-purple">
        <h6 class="modal-title text-light">Confirm</h6>
      </div>
      <div class="modal-body bg-white rounded-bottom">
        <div class="row d-flex justify-content-around">
          <input type="hidden" id="delete-id">
          <div class="mb-2">
            delete contract: <span id="delete-name"></span>
          </div>
        </div>
        <div class="row d-flex justify-content-around mt-2">
          <div class="col-3 pr-0">
            <input style="width: 100%" type="button" data-dismiss="modal" value="close" class="btn btn-sm bg-secondary text-light">
          </div>
          <div class="col-9">
            <input style="width: 100%" type="button" value="delete" class="btn btn-sm bg-purple text-light deleteCustomer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

